.welcome-banner {
  #banner {
    height: 80vh;
  }

  .greeting-container {
    padding: 0 30px;
    position: absolute;
    top: 35vh;

    .call-to-action-button {
      height: 2.5rem;
      font-size: 1rem;
      text-transform: uppercase;
      border: 2px solid #00c2df;
      background-color: #00c2da;
      color: white;
      border-radius: 10px;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: aqua;
        border-color: aqua;
      }
      &:active {
        background-color: yellow;
        border-color: yellow;
      }
    }

    .greeting {
      margin-bottom: 1rem;
      span {
        font-size: 2.5rem;
      }

      .letter-span {
        color: var(--main-color);
      }
    }
  }
}
